@font-face {
    src: url("fonts/ErotiqueAlternateTrial-Bold.ttf");
    font-family: ErotiqueB;  
}

@font-face {
    src: url("fonts/ErotiqueTrial-Regular.ttf");
    font-family: Erotique;  
}

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

nav {
    font-family: ErotiqueB;
}

h3 {
    font-family: ErotiqueB;
    color: black;
    font-size: 15pt;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 0%;
}

p {
    font-family: ErotiqueB;
    font-size: 15pt;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.titulo {
    width: 400px;
}

footer {
    width: 100%;
    background-color: #fcee21;


}